<div class="container" id="trackupdate">
  <div class="row">

    <h2>Update Track</h2>

    <%= form_for @track do |f| %>
      <div>
        <%= f.text_field :artist, placeholder: "Artist", :class => "field" %>
      </div>
      <div>
        <%= f.text_field :title, placeholder: "Title", :class => "field" %>
      </div>
      <div>
        <%= f.text_field :url, placeholder: "Spotify url", :class => "field" %>
      </div>
      <div>
        <%= f.text_field :notes, placeholder: "Notes", :class => "field" %>
      </div>
      <br>
      <%= f.submit "Save", :class => "btn btn-outline-primary" %>

    <% end %>

  </div>
</div>