<h3><%= @track.title %></h3>
<h3><%=  @track.artist %></h3>
<p><%=  @track.url %></p>
<p><%=  @track.notes %></p>

<%= link_to "Delete", @track, method: :delete %>
<%= link_to "Update", edit_track_path %>
