<div class="container" id="showtrack">
	<div class="row">

		<h2>Track Details:</h2>
		<h3><span id="titleartist"><%= @track.title %></span> by <%=  @track.artist %></h3>
		<br>
		<p><h4>Spotify link:</h4><%=  @track.url %></p>
		<p><h4>Notes:</h4><%=  @track.notes %></p>
		<br>
		<%= link_to '<button type="button" class="btn btn-outline-primary">Delete</button>'.html_safe, @track, method: :delete, data: { confirm: 'Are you sure?' } %>
		<%= link_to '<button type="button" class="btn btn-outline-primary">Update</button>'.html_safe, edit_track_path %>
			
	</div>
</div>