<div class="container" id="signup">
  <div class="row">

    <h3>Member Signup</h3>
    <p>Join the family!</p>

    <%= form_for @user do |f| %>
      <div>
        <%= f.text_field :first_name, placeholder: "First Name", :class => "field" %>
      </div>
      <div>
        <%= f.text_field :last_name, placeholder: "Last Name", :class => "field" %>
      </div>
      <div>
        <%= f.text_field :email, placeholder: "Email", :class => "field" %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Password", :class => "field" %>
      </div>
      <br>
      <%= f.submit "Sign Up", :class => "btn btn-outline-primary"  %>
    <% end %>

  </div>

</div>