<div class="container" id="profileheader">
	<div class="row">
		<div class="col-md-1" id="prof">
			<%= image_tag("prof.png") %>
		</div>
		<div class="col-md-4" id="fullname">
			 <h1><%= @user.first_name %> <%= @user.last_name %></h1>
		</div>
		<div class="col-md-7">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= render "tracks/tracklist" %>
		</div>
		<div class="col-md-6">
			<%= render "events/eventlist" %>
		</div>
	</div>
</div>
<br>
<br>
<br>
<div class="container" id="footer">
	<div class="footer">
		<div class="row">
			<div class="col-md-6">
				<h3>Sess</h3>
				<p>The definitive Listening Session app</p>
				<p>Developed by <a href="https://github.com/promethwill88/sess-app">WF</a> for GA WDI37</p>
			</div>
		</div>
		<div class="copyright">
			 Sess &copy; 2018
		</div>
		
	</div>
</div>




