<h2>Upcoming Events:</h2>

<%= link_to '<button type="button">All Events</button>'.html_safe, events_path %>
<br>

<% @events.each do |event| %>
  <br>
  	<h4>Date:</h4><%= event.date %>
    <h4>Time:</h4><%= event.time %>
    <h4>Address:</h4><%= event.address %>
    <h4>Host:</h4><%= event.host %>
  <br>
<% end %>