<br>
<br>
<div class="container" id="eventlist">
	<div class="row">
		<h1>My Sess's:</h1>

		<%= link_to '<button type="button" class="btn btn-outline-primary">Host</button>'.html_safe, new_event_path %>
		<%= link_to '<button type="button" class="btn btn-outline-primary">Attend</button>'.html_safe, events_path %>
		<br>
		<% @events.each do |event| %>
		  	<br>
			  	<h3>Date:</h3><%= event.date.strftime("%A, %B %d, %Y") %>
			    <h3>Time:</h3><%= event.time.strftime("%l:%M %P") %>
			    <h3>Address:</h3><%= event.address %>
			    <h3><span id="host">Host:</span></h3><%= event.host %>
		  	<br>
			<br>

		  <%= link_to '<button type="button" class="btn btn-outline-primary">Remove</button>'.html_safe, root_path %>

		  <br>

		<% end %>
	</div>
</div>