<h2>All Sessions:</h2> 
<% @events.each do |event| %>
	<br>
	  	<h4>Date:</h4><%= event.date %>
	    <h4>Time:</h4><%= event.time %>
	    <h4>Address:</h4><%= event.address %>
	    <h4>Host:</h4><%= event.host %>
  	<br>
  	<br>
  	<!-- ********* To-do: Change button paths to corresponding actions ********* -->

  	<%= link_to '<button type="button">Add Session to Profile</button>'.html_safe, #insert path %>
	
	<br>
<% end %>

