<div class="container" id="eventindex">
	<div class="row">

		<h2>Attend a Sess</h2> 
		<p>Join upcoming sessions!</p>
		<br>
		<% @events.each do |event| %>
			  	<h4>Date:</h4><%= event.date.strftime("%A, %B %d, %Y") %>
			    <h4>Time:</h4><%= event.time.strftime("%l:%M %P")%>
			    <h4>Address:</h4><%= event.address %>
			    <h4><span id="host">Host:</span></h4><%= event.host %>
		  	<br>
		  	<br>

		  	<%= button_to 'Attend'.html_safe, attendances_path(event), :class => "btn btn-outline-primary" %>
			
			<br>
		<% end %>

	</div>
</div>

